{% extends 'layout.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="row" style ="margin-bottom: 100px;">
    <div class="col">
        <img src=  {% static 'img/proyecto.png' %} class="card-img-top" alt="...">
        <br>
        <br>
        <h2>Registrar proyectos</h2>
        <br>
        <div align="justify">
            <h6>Registre sus proyectos anotando sus nombres, superficie y presupuesto que desea implementar.</h6>
        </div>
        <br>
        <button class="btn p-3 w-100 btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'listado_proyectos' %}" class="dropdown-item" type="button">Ver Proyectos</a></li>
            <li><a href="{% url 'crear_proyecto' %}" class="dropdown-item" type="button">Nuevo Proyecto</a></li>
        </ul>
    </div>
    <div class="col">
        <img src=  {% static 'img/facturas.png' %} class="card-img-top" alt="...">
        <br>
        <br>
        <h2>Registrar factura</h2>
        <br>
        <div align="justify">
            <h6>Registre sus facturas para asi tener registro de sus compras a travez que avanza el proyecto-</h6>
        </div>
        <br>
        <button class="btn p-3 w-100 btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturas
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'listado_factura' %}" class="dropdown-item" type="button">Ver Factura</a></li>
            <li><a href="{% url 'crear_factura' %}" class="dropdown-item" type="button">Nueva Factura</a></li>
            <li><a href="{% url 'nuevo_detalle_factura' %}" class="dropdown-item" type="button">Nueva detalle Factura</a></li>
        </ul>
    </div>
    <div class="col">
        <img src=  {% static 'img/extras1.png' %} class="card-img-top" alt="...">
        <br>
        <br>
        <h2>Registrar proyecto/producto</h2>
        <br>
        <div align="justify">
            <h6>Vea o registre sus maestros anotando sus nombres y telefono.</h6>
        </div>
        <br>
        <button class="btn p-3 w-100 btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Extras 
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'maestro' %}" class="dropdown-item" type="button">Maestros</a></li>
            <li><a href="{% url 'producto' %}" class="dropdown-item" type="button">Productos</a></li>
        </ul>
    </div>
</div>
{% endblock %}