{% extends 'layout.html' %}
{% block title %}Inicio{% endblock %}

{% block body %}
<div class="alert alert-info display-1 text-center">Inicio</div>
<div class="row">
    <div class="col">
        <button class="btn p-3 w-100 btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
        </button>      
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Ver Proyectos(no funciona)</button></li>
            <li><button href="{% url 'crear_proyecto' %}" class="dropdown-item" type="button">Nuevo Proyecto</button></li>
        </ul>
    </div>
    <div class="col">
        <button class="btn p-3 w-100 btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturas(no funciona)
        </button>      
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Ver Facturas</button></li>
            <li><button href="" class="dropdown-item" type="button">Nuevo Proyecto</button></li>
        </ul>
    </div>
    <div class="col">
        <button class="btn p-3 w-100 btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Materiales(no funciona) 
        </button>      
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Ver Materiales</button></li>
            <li><button href="" class="dropdown-item" type="button">Nuevo Proyecto</button></li>
        </ul>
    </div>
</div>
{% endblock %}